<!-- Portfolio Modals -->

<!-- Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Montage Portes</h2>
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="row">
                                        {% image '@FrontBundle/Resources/public/img/modal_img/portes/*' %}
                                            <div class="col-md-3">
                                                <a class="example-image-link" href="{{ asset_url }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                                                    <img class="example-image img-fluid" src="{{ asset_url }}" alt="Example"/>
                                                </a>
                                            </div>
                                        {% endimage %}
                                    </div>
                                </div>
                            </div>
                            <p>Vous recherchez un métallier pour la conception de votre portail en acier ?
                                Nous sommes à votre disposition en réalisant votre portail sur mesure.
                                Nous proposons des portails battants ou coulissants, selon vos souhaits et vos besoins</p>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Ferme</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <div class="row justify-content-center">
                                <h2 class="text-uppercase">Fenetres</h2>
                                <div class="col-md-12">
                                    <div class="row">
                                        {% image '@FrontBundle/Resources/public/img/modal_img/fenetres/*' %}
                                            <div class="col-md-3">
                                                <a class="example-image-link" href="{{ asset_url }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                                                    <img class="example-image img-fluid" src="{{ asset_url }}" alt="Example"/>
                                                </a>
                                            </div>
                                        {% endimage %}
                                    </div>
                                </div>
                            </div>
                            <p>Vous souhaitez changer de fenêtres pour du pvc ou de l’aluminium nous avons des fournisseur pour répondre à votre demande ils fabriquent nous posons.</p>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Ferme</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Escaliers</h2>
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="row">
                                        {% image '@FrontBundle/Resources/public/img/modal_img/escalliers/*' %}
                                            <div class="col-md-3">
                                                <a class="example-image-link" href="{{ asset_url }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                                                    <img class="example-image img-fluid" src="{{ asset_url }}" alt="Example"/>
                                                </a>
                                            </div>
                                        {% endimage %}
                                    </div>
                                </div>
                            </div>
                            <p>
                                Droits, balancés ou hélicoïdaux, tous nos escaliers sont réalisés sur mesure, selon votre demande, et adaptés au volume de votre espace.
                                Notre travail de ferronnerie s'adapte à tous les styles, anciens ou contemporains, et nous personnalisons nos réalisations selon vos souhaits et selon votre intérieur.
                                Nous portons un soin particulier à l'esthétique des garde-corps, des mains courantes, et des rampes de nos escaliers.
                            </p>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Ferme</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Structures Metaliques</h2>
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="row">
                                        {% image '@FrontBundle/Resources/public/img/modal_img/struct_metaliques/*' %}
                                            <div class="col-md-3">
                                                <a class="example-image-link" href="{{ asset_url }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                                                    <img class="example-image img-fluid" src="{{ asset_url }}" alt="Example"/>
                                                </a>
                                            </div>
                                        {% endimage %}
                                    </div>
                                </div>
                            </div>
                            <p>Structures  et charpentes métalliques</p>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Ferme</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Menusserie metalique</h2>
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="row">
                                        {% image '@FrontBundle/Resources/public/img/modal_img/meubles/*' %}
                                            <div class="col-md-3">
                                                <a class="example-image-link" href="{{ asset_url }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                                                    <img class="example-image img-fluid" src="{{ asset_url }}" alt="Example"/>
                                                </a>
                                            </div>
                                        {% endimage %}
                                    </div>
                                </div>
                            </div>
                            <p>L’utilisation du métal dans le mobilier est un pari audacieux.
                                C’est l’assemblage de sentiments opposés, le froid de la matière brute et la douceur des finitions renforcent l’usage du fer dans ce domaine.
                                La masse de l’acier lui donne cette stabilité efficace et la finesse des profils cette légèreté esthétique.</p>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Ferme</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <div class="modal-body">
                            <!-- Project Details Go Here -->
                            <h2 class="text-uppercase">Autres</h2>
                            <div class="row justify-content-center">
                                <div class="col-md-12">
                                    <div class="row">
                                        {% image '@FrontBundle/Resources/public/img/modal_img/autres/*' %}
                                            <div class="col-md-3">
                                                <a class="example-image-link" href="{{ asset_url }}" data-lightbox="example-set" data-title="Click the right half of the image to move forward.">
                                                    <img class="example-image img-fluid" src="{{ asset_url }}" alt="Example"/>
                                                </a>
                                            </div>
                                        {% endimage %}
                                    </div>
                                </div>
                            </div>
                            <p>Tout autre chose</p>
                            <button class="btn btn-primary" data-dismiss="modal" type="button">
                                <i class="fas fa-times"></i>
                                Ferme</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>